body {
    background-image: url("/assets/zuko.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Megrim', cursive;
}

#invitation, #workout, #wimp {
    margin-top: 10px;
    background-color: rgba(230, 171, 55, .5);
    padding: 5vh;
    border-radius: 10px;
}

#accept {
    margin-bottom: 5px;
}

#workout, #wimp {
    display: none;
}

.card-image {
    height: 50vh;
}





